<div class="confirmados container text-center">
    <div class="confirmados__header">
        <h1 class="confirmados__title">Lista de invitados confirmados</h1>
    </div>
    <ul class="confirmados__list">
        {{#each guess}}
        <li class="confirmados__item">
            <p class="confirmados__item--name">{{fn1}}</p>
            <p class="confirmados__item--name">{{fn2}}</p>
            <p class="confirmados__item--name">{{fn3}}</p>
            <p class="confirmados__item--name">{{fn4}}</p>
            <p class="confirmados__item--name">{{fn5}}</p>
            <p class="confirmados__item--name">{{fn6}}</p>
            <p class="confirmados__item--name">{{fn7}}</p>
            <p class="confirmados__item--name">{{fn8}}</p>
            <p class="confirmados__item--name">{{fn9}}</p>
            <p class="confirmados__item--name">{{fn10}}</p>
            <p class="confirmados__item--name">{{fn11}}</p>
            <p class="confirmados__item--name">{{fn12}}</p>
            <p class="confirmados__item--name">{{fn13}}</p>
            <p class="confirmados__item--name">{{fn14}}</p>
            <p class="confirmados__item--name">{{fn15}}</p>
            <p class="confirmados__item--name">{{fn16}}</p>
            <p class="confirmados__item--name">{{fn17}}</p>
            <p class="confirmados__item--name">{{fn18}}</p>
            <p class="confirmados__item--name">{{fn19}}</p>
            <p class="confirmados__item--name">{{fn20}}</p>
            <p class="confirmados__item--name">{{fn21}}</p>
            <p class="confirmados__item--name">{{fn22}}</p>
            <p class="confirmados__item--name">{{fn23}}</p>
            <p class="confirmados__item--name">{{fn24}}</p>
            <p class="confirmados__item--name">{{fn25}}</p>
            <p class="confirmados__item--name">{{fn26}}</p>
            <p class="confirmados__item--name">{{fn27}}</p>
            <p class="confirmados__item--name">{{fn28}}</p>
            <p class="confirmados__item--name">{{fn29}}</p>
            <p class="confirmados__item--name">{{fn30}}</p>
            <p class="confirmados__item--name">{{fn31}}</p>
            <p class="confirmados__item--name">{{fn32}}</p>
            <p class="confirmados__item--name">{{fn33}}</p>
            <p class="confirmados__item--name">{{fn34}}</p>
            <p class="confirmados__item--name">{{fn35}}</p>
            <p class="confirmados__item--name">{{fn36}}</p>
            <p class="confirmados__item--name">{{fn37}}</p>
            <p class="confirmados__item--name">{{fn38}}</p>
            <p class="confirmados__item--name">{{fn39}}</p>
            <p class="confirmados__item--name">{{fn40}}</p>
            <p class="confirmados__item--name">{{fn41}}</p>
            <p class="confirmados__item--name">{{fn42}}</p>
            <p class="confirmados__item--name">{{fn43}}</p>
            <p class="confirmados__item--name">{{fn44}}</p>
            <p class="confirmados__item--name">{{fn45}}</p>
            <p class="confirmados__item--name">{{fn46}}</p>
            <p class="confirmados__item--name">{{fn47}}</p>
            <p class="confirmados__item--name">{{fn48}}</p>
            <p class="confirmados__item--name">{{fn49}}</p>
            <p class="confirmados__item--name">{{fn50}}</p>
            <p class="confirmados__item--name">{{fn51}}</p>
            <p class="confirmados__item--name">{{fn52}}</p>
            <p class="confirmados__item--name">{{fn53}}</p>
            <p class="confirmados__item--name">{{fn54}}</p>
            <p class="confirmados__item--name">{{fn55}}</p>
            <p class="confirmados__item--name">{{fn56}}</p>
            <p class="confirmados__item--name">{{fn57}}</p>
            <p class="confirmados__item--name">{{fn58}}</p>
            <p class="confirmados__item--name">{{fn59}}</p>
            <p class="confirmados__item--name">{{fn60}}</p>
            <p class="confirmados__item--name">{{fn61}}</p>
            <p class="confirmados__item--name">{{fn62}}</p>
            <p class="confirmados__item--name">{{fn63}}</p>
            <p class="confirmados__item--name">{{fn64}}</p>
            <p class="confirmados__item--name">{{fn65}}</p>
            <p class="confirmados__item--name">{{fn66}}</p>
            <p class="confirmados__item--name">{{fn67}}</p>
            <p class="confirmados__item--name">{{fn68}}</p>
            <p class="confirmados__item--name">{{fn69}}</p>
            <p class="confirmados__item--name">{{fn70}}</p>
            <p class="confirmados__item--name">{{fn71}}</p>
            <p class="confirmados__item--name">{{fn72}}</p>
            <p class="confirmados__item--name">{{fn73}}</p>
            <p class="confirmados__item--name">{{fn74}}</p>
            <p class="confirmados__item--name">{{fn75}}</p>
            <p class="confirmados__item--name">{{fn76}}</p>
            <p class="confirmados__item--name">{{fn77}}</p>
            <p class="confirmados__item--name">{{fn78}}</p>
            <p class="confirmados__item--name">{{fn79}}</p>
            <p class="confirmados__item--name">{{fn80}}</p>
            <p class="confirmados__item--name">{{fn81}}</p>
            <p class="confirmados__item--name">{{fn82}}</p>
            <p class="confirmados__item--name">{{fn83}}</p>
            <p class="confirmados__item--name">{{fn84}}</p>
            <p class="confirmados__item--name">{{fn85}}</p>
            <p class="confirmados__item--name">{{fn86}}</p>
            <p class="confirmados__item--name">{{fn87}}</p>
            <p class="confirmados__item--name">{{fn88}}</p>
            <p class="confirmados__item--name">{{fn89}}</p>
            <p class="confirmados__item--name">{{fn90}}</p>
            <p class="confirmados__item--name">{{fn91}}</p>
            <p class="confirmados__item--name">{{fn92}}</p>
            <p class="confirmados__item--name">{{fn93}}</p>
            <p class="confirmados__item--name">{{fn94}}</p>
            <p class="confirmados__item--name">{{fn95}}</p>
            <p class="confirmados__item--name">{{fn96}}</p>
            <p class="confirmados__item--name">{{fn97}}</p>
            <p class="confirmados__item--name">{{fn98}}</p>
            <p class="confirmados__item--name">{{fn99}}</p>
            <p class="confirmados__item--name">{{fn100}}</p>
            <p class="confirmados__item--name">{{fn101}}</p>
            <p class="confirmados__item--name">{{fn102}}</p>
            <p class="confirmados__item--name">{{fn103}}</p>
            <p class="confirmados__item--name">{{fn104}}</p>
            <p class="confirmados__item--name">{{fn105}}</p>
            <p class="confirmados__item--name">{{fn106}}</p>
            <p class="confirmados__item--name">{{fn107}}</p>
            <p class="confirmados__item--name">{{fn108}}</p>
            <p class="confirmados__item--name">{{fn109}}</p>
            <p class="confirmados__item--name">{{fn110}}</p>
            <p class="confirmados__item--name">{{fn111}}</p>
            <p class="confirmados__item--name">{{fn112}}</p>
            <p class="confirmados__item--name">{{fn113}}</p>
            <p class="confirmados__item--name">{{fn114}}</p>
            <p class="confirmados__item--name">{{fn115}}</p>
            <p class="confirmados__item--name">{{fn116}}</p>
            <p class="confirmados__item--name">{{fn117}}</p>
            <p class="confirmados__item--name">{{fn118}}</p>
            <p class="confirmados__item--name">{{fn119}}</p>
            <p class="confirmados__item--name">{{fn120}}</p>
            <p class="confirmados__item--name">{{fn121}}</p>
            <p class="confirmados__item--name">{{fn122}}</p>
            <p class="confirmados__item--name">{{fn123}}</p>
            <p class="confirmados__item--name">{{fn124}}</p>
            <p class="confirmados__item--name">{{fn125}}</p>
            <p class="confirmados__item--name">{{fn126}}</p>
            <p class="confirmados__item--name">{{fn127}}</p>
            <p class="confirmados__item--name">{{fn128}}</p>
            <p class="confirmados__item--name">{{fn129}}</p>
            <p class="confirmados__item--name">{{fn130}}</p>
            <p class="confirmados__item--name">{{fn131}}</p>
            <p class="confirmados__item--name">{{fn132}}</p>
            <p class="confirmados__item--name">{{fn133}}</p>
            <p class="confirmados__item--name">{{fn134}}</p>
            <p class="confirmados__item--name">{{fn135}}</p>
            <p class="confirmados__item--name">{{fn136}}</p>
            <p class="confirmados__item--name">{{fn137}}</p>
            <p class="confirmados__item--name">{{fn138}}</p>
            <p class="confirmados__item--name">{{fn139}}</p>
            <p class="confirmados__item--name">{{fn140}}</p>
            <p class="confirmados__item--name">{{fn141}}</p>
            <p class="confirmados__item--name">{{fn142}}</p>
            <p class="confirmados__item--name">{{fn143}}</p>
            <p class="confirmados__item--name">{{fn144}}</p>
            <p class="confirmados__item--name">{{fn145}}</p>
            <p class="confirmados__item--name">{{fn146}}</p>
            <p class="confirmados__item--name">{{fn147}}</p>
            <p class="confirmados__item--name">{{fn148}}</p>
        </li>
        {{else}}
        <li class="confirmados__item">
            <p class="confirmados__item--name">Ningún Invitado ha confirmado todavía</p>
        </li>
        {{/each}}
    </ul>
</div>